<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Szynkenstore!
  </h1>
</div>

<h2 style="color: orange;">Wyroznione</h2>
<div>
  <div *ngFor="let product of products">    
    <app-product [product]="product" *ngIf="product.isPromoted"></app-product>
  </div>
</div>

<br clear="both" />

<h2>Lista produktow</h2>
<div>
  <div *ngFor="let product of products">
    <app-product [product]="product"></app-product>
  </div>
</div>

